.main-title {
    text-align: right;
    font-size: 3rem;
    color: #2c3e50;
    margin-bottom: 2rem;
    direction: rtl;
  }
  
  .about-section-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    background: ffff;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  }
  
  .about-text-content {
    max-width: 800px;
    text-align: right;
    direction: rtl;
    color: #333;
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.8;
  }
  
  .about-text-content h2 {
    /* color: #27ae60; */
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .about-text-content h3 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
  /* .h1{
    justify-content: end;
    margin-top: 50px;
  } */
  .dunam {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* background: #fff; */
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
  }
  
  .d1 {
    /* color: #00796b; */
    margin: 0;
  }
  
  .d2 {
    font-size: 2rem;
    color: blue;
  }
  