.allImages {
    width: 100vw; 
    height: 100vh; 
    overflow: hidden; 
    position: relative;
}

.images {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 1; 
    transition: opacity 0.5s ease-in-out; 
}

.allImages h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #333;
    font-size: 2rem;
}